*{
    margin: 0;
}
.box{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
    gap: 10px;
    height: 600px;
    place-content: center;
}
.item1{
    background-color: rgb(255, 1, 1);
}
.box2{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
    gap: 10px;
    height: 600px;
    place-content: center;
}
.item2{
    background-color: chartreuse;
}
.item3{
    background-color: rgb(111, 192, 30);
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 4;
}
.item4{
    background-color: rgb(110, 183, 38);
    grid-row-start: 4;
    grid-row-end: ;
    grid-column-start: 1;
    grid-column-end: 3;
}
.box3{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
    gap: 10px;
    height: 600px;
    place-content: center;
}
.item5{
    background-color: rgb(105, 93, 93);
}
.item6{
    background-color: rgb(105, 93, 93);
    grid-column-start: 2;
    grid-column-end: 4;
}
.item7{
    background-color: rgb(105, 93, 93);
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}
.item8{
    background-color: rgb(105, 93, 93);
    grid-column-start: 1;
    grid-column-end: 3;
}