*{
    margin: 0;
}
.box{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
    gap: 10px;
    height: 600px;
    place-content: center;
}
.item1{
    background-color: rgb(255, 1, 1);
}
.box2{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
    gap: 10px;
    height: 600px;
    place-content: center;
}
.item2{
    background-color: chartreuse;
}
.item3{
    background-color: rgb(111, 192, 30);
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 4;
}
.item4{
    background-color: rgb(110, 183, 38);
    grid-row-start: 4;
    grid-row-end: ;
    grid-column-start: 1;
    grid-column-end: 3;
}
.box3{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
    gap: 10px;
    height: 600px;
    place-content: center;
}
.item5{
    background-color: rgb(105, 93, 93);
}
.item6{
    background-color: rgb(105, 93, 93);
    grid-column-start: 2;
    grid-column-end: 4;
}
.item7{
    background-color: rgb(105, 93, 93);
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}
.item8{
    background-color: rgb(105, 93, 93);
    grid-column-start: 1;
    grid-column-end: 3;
}
.box4{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
    gap: 10px;
    height: 600px;
    place-content: center;
}
.item9{
    background-color: yellow;
    border-radius: 50px;
    grid-row-start: 1;
    grid-row-end: 3;
}
.item10{
    background-color: yellow;
    border-radius: 50px;
}
.item11{
    background-color: yellow;
    border-radius: 80px;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
}
.box5{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
    gap: 10px;
    height: 600px;
    place-content: center;
}
.item12{
    background-color: rgb(0, 195, 255);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.item13{
    background-color: rgb(0, 195, 255);
    grid-column-start: 3;
    grid-column-end: 5;
}
.item14{
    background-color: rgb(0, 195, 255);
}
.item15{
    background-color: rgb(0, 195, 255);
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
}
.box6{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
    gap: 10px;
    height: 600px;
    place-content: center;
}
.item16{
    background-color: cadetblue;
    border-radius: 10px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.item17{
    background-color: cadetblue;
    border-radius: 10px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
}
.item18{
    background-color: cadetblue;
    border-radius: 10px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    grid-row-start: 2;
    grid-column-start: 4;
    grid-row-end: 4;
}
.item19{
    background-color: cadetblue;
    border-radius: 10px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    grid-column-start: 1;
    grid-column-end: 3;
}
.box7{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
    gap: 10px;
    height: 600px;
    place-content: center;
}
.item20{
    background-color: aqua;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.item21{
    background-color: aqua;
}
.box8{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
    gap: 10px;
    height: 600px;
    place-content: center;
}
.item22{
    background-color: bisque;
}
.item23{
    background-color: bisque;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}
.item24{
    background-color: bisque;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
}
.box9{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
    gap: 10px;
    height: 600px;
    place-content: center;
}
.item25{
    background-color: coral;
    border-radius: 20px;
}
.item26{
    background-color: coral;
    border-radius: 20px;
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}
.item27{
    background-color: coral;
    border-radius: 20px;
    grid-column-start: 2;
    grid-column-end: 4;
}
.box10{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
    gap: 10px;
    height: 600px;
    place-content: center;
}
.item28{
    background-color: cornflowerblue;
     clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
     grid-column-start: 1;
     grid-column-end: 3;
     grid-row-start: 1;
     grid-row-end: 3;
}
.item29{
    background-color: cornflowerblue;
     clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.item30{
    background-color: cornflowerblue;
     clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
     grid-column-start: 3;
     grid-column-end: 5;
}
.box11{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
    gap: 10px;
    height: 600px;
    place-content: center;
}
.item31{
background-color: aquamarine;
border-radius: 10px;
}
.item32{
background-color: aquamarine;
border-radius: 10px;
grid-row-start: 1;
grid-row-end: 3;
grid-column-start: 3;
}